* {
  margin: 0;
  padding: 0px;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  display: flex;
}
.content {
  position: relative;
  height: 200px;
  width: 200px;
}
.content div {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  transition: transform 1s;
}
#box1 {
  background-color: red;
  transform-origin: left top;
}
#box2 {
  background-color: yellow;
  transform-origin: right top;
  top: 0;
  left: 100px;
}
#box3 {
  background-color: blue;
  transform-origin: left bottom;
  top: 100px;
  left: 0;
}
#box4 {
  background-color: green;
  transform-origin: right bottom;
  top: 100px;
  left: 100px;
}
/* hola in the middle */
#text {
  font-size: 20px;
  z-index: -1;
  position: relative;
  top: 120px;
  text-align: center;
}
/* hovers */

.content:hover #box1,
.content:hover #box4 {
  transform: rotate(90deg);
}
.content:hover #box2,
.content:hover #box3 {
  transform: rotate(-90deg);
}
